.idea/
node_modules/
.vscode/
*.map
.DS_Store
.sourcemaps
dist/
android/app/src/androidTest/**/*.*
android/app/src/main/res/**/*.*
android/app/src/test/**/*.*
android/gradle/wrapper/*.*

android/app/build.gradle
android/app/capacitor.build.gradle
android/app/proguard-rules.pro
android/.gitignore
android/build.gradle
android/capacitor.settings.gradle
android/gradle.properties
android/gradlew
android/gradlew.bat
android/settings.gradle
android/variables.gradle
